doctype html
html
	head
		title="logowanie Google"
	body
		div
			h1 Success!
			h2 Hello #{first_name}
		div
			img.image(src='https://images.pexels.com/photos/8865/pexels-photo.jpg?auto=compress&cs=tinysrgb&h=350', alt="image")